<% content_for :title, "Edit" %>
<div class="container">
  <div class="admin">
    <div class="new-post">
      <h1>edit project</h1>
      <%= simple_form_for @project, method: :patch, html: {multipart: true} do |f| %>
      <%= f.input :title, placeholder: 'project name' %>
      <%= f.input :year, placeholder: 'year', collection: (Date.today.year.to_i - 6)..Date.today.year.to_i, selected: Date.today.year.to_i %>
      <%= f.input :status, placeholder: 'status',collection: Post.statuses.keys, selected: 0%>
      <%= f.input :author, placeholder: 'author' %>
      <%= f.input :collaborators, placeholder: 'collaborators w/commas' %>
      <%= f.input :categories, placeholder: 'categories w/commas' %>
      <%= f.input :software, placeholder: 'software  w/commas' %>
      <%= f.input :content, placeholder: 'project description' %>
      <%= f.input :cover, as: :file, label: 'upload cover picture' %>
      <%= f.input :images, as: :file, label: 'upload pictures', input_html: {  multiple: true } %>
      <%= f.submit 'publish project' %>
      <% end %>
    </div>
  </div>
</div>
