<% content_for :title, "Work" %>
<% if @project.cover.attached? %>
<div class="post-cover parallax-window" data-parallax="scroll" data-image-src="<%= url_for(@project.cover) %>"></div>
<% end %>

<div class="container">
  <div class=" row post-headline align-items-center">
    <div class="col-sm-6">
      <h1><%= @title if @title %></h1>
      <p><%= @year if @year%></p>
    </div>
    <div class="col-sm-6 ">
      <p><%= @content.first if @content%></p>
    </div>
  </div>

  <div class="row">
    <% if @project.images.attached? %>
      <% @project.images.each do |i| %>
        <div class="col-sm-12 post-img">
          <%= image_tag i, class: "fullfill" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



<%= render 'shared/feedback' %>
<%= render 'shared/footer' %>
<%= javascript_pack_tag "like" %>
<%= javascript_pack_tag "parallax" %>


