<h1>New Story</h1>
<%= simple_form_for @story do |f| %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :categories %>
  <%= f.input :content %>
  <%= f.input :images, as: :file %>
  <%= f.button :submit %>
<% end %>
