<% content_for :title, "Admin" %>
<div class="container">
  <div class="admin innerheight">
    <div class="row">
      <div class="admin-manage col-sm-6">
        <div class="admin-header">
          <h1>projects</h1>
        </div>
        <div class="admin-action">
          <%= link_to "publish new project", new_project_path %>
        </div>
        <div class="admin-action">
          <%= link_to "manage projects", projects_manager_path %>
        </div>
      </div>
      <div class="admin-manage col-sm-6">
        <div class="admin-header">
          <h1>posts</h1>
        </div>
        <div class="admin-action">
          <%= link_to "write new story", new_story_path %>
        </div>
        <div class="admin-action">
          <%= link_to "manage stories", stories_manager_path %>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="admin-action close-session">
          <%= link_to "close session", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>
