<% content_for :title, "About" %>
<div class="container">
  <div class="row flex-fullheight align-items-center">
    <div class="bio-desc col-md-12">
      <h1>Daniel Polo is a male-type creative technologist. He is crazy for the internet, sci-fi, arts and media. After graduating from the Architecture School in Mexico City, Daniel Polo paused his architecture passion searching for new ones... then coding came to him.<br>He is a curious young man who always wants to understand "how" everything, so Daniel <em>googles</em> a lot. He also thinks he's been cursed because of that.<br><br>Daniel Polo <span><%= icon('fas', 'heart') %></span> espresso and tacos.</h1>
    </div>
  </div>
    <div class="bio-social col-md-12">
      <div class="icons">
        <%= link_to icon('fab', 'facebook'), "https://www.facebook.com/danielpolo/", class: 'hover-blue' %>
        <%= link_to icon('fab', 'instagram'), "https://www.instagram.com/danielppolo/", class: 'hover-red' %>
        <%= link_to icon('fab', 'behance'), "https://www.behance.net/danielppolo/", class: 'hover-blue' %>
        <%= link_to icon('fab', 'pinterest'), "https://www.pinterest.com/danielppolo/", class: 'hover-red' %>
        <%= link_to icon('fab', 'twitter'), "https://www.twitter.com/danielppolo_/", class: 'hover-blue' %>
        <%= link_to icon('fab', 'github'), "https://www.github.com/danielppolo/", class: 'hover-red' %>
      </div>
    </div>
</div>

<%= render 'shared/footer' %>
