<% content_for :title, "Home" %>
<div id="main_carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner fullheight">

    <% @recent.each_with_index do |post, i| %>
    <div class="carousel-item <%= "active" if i == 0 %>">
      <a href="<%= project_path(post) %>">
        <div class="carousel-img fullfill" style='background-image: url("<%= url_for(post.cover) %>");'>
          <h1 class="carousel-title d-none d-md-block">
            <%= post.class == Project ? "featured project" : "featured story" %>
            <br><%= post.title.downcase %></h1>
        </div>
      </a>
    </div>
  <% end %>
  </div>
</div>


