<div id="main_carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner fullheight">
    <div class="carousel-item active">
      <a href="<%= project_path(@featured.first) %>">
        <div class="carousel-img fullfill" style='background-image: url("<%= url_for(@featured.first.cover) %>");'>
          <h1 class="carousel-title d-none d-md-block">featured project<br><%= @featured.first.title %></h1>
        </div>
      </a>
    </div>
    <div class="carousel-item ">
      <a href="<%= story_path(@featured.last) %>">
        <div class="carousel-img fullfill" style='background-image: url("<%= url_for(@featured.last.cover) %>");'>
          <h1 class="carousel-title d-none d-md-block">featured story<br><%= @featured.last.title %></h1>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row flex-innerheight justify-content-center align-items-center">
    <div class="bio-desc col-md-10">
      <h1>Daniel Polo is a male-type creative technologist. He <span><%= icon('fas', 'heart') %></span> the internet, sci-fi, arts and .</h1>
    </div>
  </div>
</div>

