<div id="main_carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner fullheight">
    <div class="carousel-item active">
      <a href="<%= project_path(@last.first) %>">
        <div class="carousel-img fullfill" style='background-image: url("<%= url_for(@last.first.cover) %>");'>
          <h1 class="carousel-title d-none d-md-block">featured project<br><%= @last.first.title %></h1>
        </div>
      </a>
    </div>
    <div class="carousel-item ">
      <a href="<%= project_path(@last.last) %>">
        <div class="carousel-img fullfill" style='background-image: url("<%= url_for(@last.last.cover) %>");'>
          <h1 class="carousel-title d-none d-md-block"><%= @last.last.title %></h1>
        </div>
      </a>
    </div>
  </div>
</div>
