<% content_for :title, "Home" %>
<div id="main_carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner fullheight">

    <% @recent.each do |post| %>
    <div class="carousel-item active">
      <a href="<%= project_path(post) %>">
        <div class="carousel-img fullfill" style='background-image: url("<%= url_for(post.cover) %>");'>
          <h1 class="carousel-title d-none d-md-block">
            <%= post.class == Project ? "featured project" : "featured story" %>
            <br><%= post.title.downcase %></h1>
        </div>
      </a>
    </div>
  <% end %>
  </div>
</div>

<div class="container">
  <div class="row flex-innerheight justify-content-center align-items-center">
    <div class="bio-desc col-md-10">
       <h1>Daniel Polo is a male-type creative technologist. He is crazy for the internet, sci-fi, arts and media. After graduating from the Architecture School in Mexico City, Daniel Polo paused his architecture passion searching for new ones... then coding came to him.<br>He is a curious young man who always wants to understand "how" everything, so Daniel <em>googles</em> a lot. He also thinks he's been cursed because of that.<br><br>Daniel Polo <span><%= icon('fas', 'heart') %></span> espresso and tacos.</h1>
    </div>
  </div>
</div>

